*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
    color: #444;
    font-size: 16px;
}

// common style
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 576px) {
        width: 100%;
        // margin-top: 10%;
    }

    @media (min-width: 768px) {
        max-width: 720px;
        // margin-top: 10%;
    }

    @media (min-width: 992px) {
        max-width: 960px;
        // margin-top: 10%;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
        // margin-top: 10%;
    }
}

.form_control {
    display: block;
    width: 100px;
    height: 40px;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
    background-color: #38B5ED;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .2s;

    &:hover {
        background-color: #229fd8;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
        transition: .2s;
    }
}

.start_btn {
    margin: 10px;
    width: 100%;
}

.add_number {
    margin: 10px;

    button {
        margin-top: 10px;
    }
}

//bingo_block style
.bingo_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    background-color: #ddd;
    margin: 10px;

    .bingo_div {
        width: 46px;
        height: 46px;
        text-align: center;
        padding-top: 15px;
        border: #999 1px solid;
        margin: 5px;
        box-sizing: border-box;
        background-color: #fff;

        &.result {
            background-color: #999;
            color: #fff;
        }
    }
}

// modal css start
#modal {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 15%;

    .over {
        display: block;
        position: relative;
        text-align: center;
        font-size: 40px;
        color: #fff;
    }

    button.control_button {
        margin: auto;
        display: block;
        font-size: 28px;
        padding: 20px 50px;
        border-radius: 200px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .7);
        top: 50%;
        transition: .2s;

        &:hover {
            background-color: #0c0c0c;
            box-shadow: 0 0 30px rgba(0, 0, 0, .7);
            transition: .2s;
        }
    }
}

// modal css end